{% extends 'admin/dashboard.html' %}
{% load static %}

{% block content %}
  <div class="main-content">
    <h2>Edit Transaksi Bank Sampah</h2>
    <form id="edit-report-form">
        <input type="hidden" id="report-id" name="id" value=""> <!-- Hidden field for the report ID -->

        <div class="form-group">
            <label for="nama_bank_sampah">Nama Bank Sampah</label>
            <input type="text" id="nama_bank_sampah" name="nama_bank_sampah" class="form-control" required>
        </div>
        
        <div class="form-group">
            <label for="desa_kelurahan">Desa/Kelurahan</label>
            <input type="text" id="desa_kelurahan" name="desa_kelurahan" class="form-control" required>
        </div>
        
        <div class="form-group">
            <label for="rt">RT</label>
            <input type="text" id="rt" name="rt" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="rw">RW</label>
            <input type="text" id="rw" name="rw" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="nama_pengepul">Nama Pengepul</label>
            <input type="text" id="nama_pengepul" name="nama_pengepul" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="total_harga_pembelian">Total Harga Pembelian</label>
            <input type="number" id="total_harga_pembelian" name="total_harga_pembelian" class="form-control" required>
        </div>
        
        <div class="form-group">
            <label for="total_berat_pembelian">Total Berat Pembelian</label>
            <input type="number" id="total_berat_pembelian" name="total_berat_pembelian" class="form-control" required>
        </div>
        
        <div class="form-group">
            <label for="total_harga_penjualan">Total Harga Penjualan</label>
            <input type="number" id="total_harga_penjualan" name="total_harga_penjualan" class="form-control" required>
        </div>
        
        <div class="form-group">
            <label for="total_berat_penjualan">Total Berat Penjualan</label>
            <input type="number" id="total_berat_penjualan" name="total_berat_penjualan" class="form-control" required>
        </div>
        
        <div class="form-group">
            <label for="tanggal_pendataan">Tanggal Pendataan</label>
            <input type="date" id="tanggal_pendataan" name="tanggal_pendataan" class="form-control" required>
        </div>
        
        <button type="button" class="btn btn-primary" onclick="updateReport()">Save Changes</button>
        <a href="{% url 'data_bank_sampah_transactions' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>

<!-- Load JavaScript file for handling form submission -->
<script src="{% static 'js/edit_data_transactions.js' %}"></script>
{% endblock content %}
